html{
    font-size: 18px;
    @media screen and (max-width:1324px){
        font-size: 15px;
    }
    @media screen and (max-width:1024px){
        font-size: 12px;
    }
    @media screen and (max-width: 768px){
        font-size: 10px;
    }
    @media screen and (max-width: 580px){
        font-size: 8px;
    }
    @media screen and (max-width: 420px){
        font-size: 6px;
    }
}
.footer {
    .imgFooterDiv{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        background-color: white;
        margin-bottom: 6%;
        .imgFooter {
            position: absolute;
        }
    }
    .container{
        .nav{
            .nav-item{
                .nav-link{
                    color: #000289;
                }
            }
        }
    }
}
.direc{
    text-decoration: underline white;
    color: black;
}




