.div-img-anglia {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
}
.div-img-anglia img {
  width: 100%;
}

.div-nav-link {
  background-color: #000289;
  border-radius: 5px;
  box-shadow: 0px 6px 0px #000262;
  transition: all 0.1s;
  text-align: center;
  width: auto;
}
.div-nav-link .nav-link {
  color: white;
  font-size: 1.5em;
}

.div-nav-link:active {
  box-shadow: 0px 0px 0px white;
  position: relative;
  top: 6px;
}

#dropDownBtn:active {
  box-shadow: 0px 0px 0px white;
  position: relative;
  top: 6px;
}

.borderHeader {
  background-color: #000289;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4px;
}

.menuMovileDiv {
  transform: perspective(200px) rotateX(15deg);
  position: relative;
  bottom: 5px;
}
.menuMovileDiv .menuMovile {
  width: 100%;
  border-radius: 5px;
  background-color: #000289;
  font-size: 2.5em;
  z-index: 999;
  box-shadow: none;
  border: none;
  margin: 0;
  cursor: pointer;
  outline: none;
  font-family: "Exo", sans-serif;
  font-weight: 900;
}

.menuMovileDiv:active {
  transform: perspective(170px) rotateX(25deg);
  box-shadow: 0px 0px 0px #ffffff;
}

#header {
  background-color: white;
  font-size: 15px;
  z-index: 9999;
  box-shadow: unset 0 0 100px #000;
  background-size: 200%;
}
@media screen and (max-width: 1650px) {
  #header {
    font-size: 14px;
  }
}
@media screen and (max-width: 1324px) {
  #header {
    font-size: 13px;
  }
}
@media screen and (max-width: 1200px) {
  #header {
    font-size: 12px;
  }
}
@media screen and (max-width: 1070px) {
  #header {
    font-size: 11px;
  }
}
@media screen and (max-width: 767px) {
  #header {
    font-size: 13px;
  }
}
#header .imgdiv img {
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 1%;
}
#header .text-end {
  position: relative;
  left: 10%;
}
#header .text-end .divAnglia .card {
  text-align: left;
  margin: 0px;
  width: auto;
  justify-content: space-evenly;
  border: none;
}
#header .text-end .divAnglia .card h1 {
  font-size: 1.6em;
  color: #0082C0;
}
#header .text-end .divAnglia .card h2 {
  font-size: 1.2em;
  color: #0082C0;
}
#header .text-end .divAnglia .card h3 {
  font-size: 1.2em;
  color: #DA291C;
}

#root {
  position: relative;
  overflow-y: hidden;
}

.activeSideBarRoot {
  overflow: hidden !important;
  position: relative !important;
}

#sideBar {
  position: fixed;
  left: 0;
  top: 0;
  width: auto;
  height: 100%;
  z-index: 900;
  overflow-x: hidden !important;
  transform: translate3d(0, 0, 0);
}
#sideBar #sideBarDiv {
  width: auto;
  height: 100%;
}
#sideBar #sideBarDiv .exitButton {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  outline: inherit;
  width: 50px;
  height: auto;
}
#sideBar #sideBarDiv .exitButton svg {
  width: 100%;
  height: 100%;
  color: #000289;
}
#sideBar #sideBarDiv .menuSpan {
  font-size: 25px;
  font-weight: 800;
  color: #000289;
}
#sideBar #sideBarDiv .div-nav-link {
  font-size: 15px;
}
#sideBar #sideBarDiv hr {
  color: #000289;
  border-top: 5px #000289 solid;
  width: 100%;
}

.activeSideBar {
  transform: translate3d(200px, 0px, 0px) !important;
  overflow: hidden !important;
}

#index {
  overflow: hidden;
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fade {
  opacity: 1 !important;
}

.hide {
  transition: opacity 3s ease-out;
  visibility: hidden;
}

@media screen and (max-width: 1650px) {
  #header .text-end {
    left: 8%;
  }
}
@media screen and (max-width: 1550px) {
  #buttonsHeader {
    flex-direction: column;
    align-items: center;
  }
  #header .text-end {
    left: 3%;
  }
}
@media screen and (max-width: 1266px) {
  #header .text-end {
    left: 0px;
  }
  #header .container {
    max-width: 100%;
    --bs-gutter-x: 0rem;
  }
  #header header {
    padding: 0% 10px;
  }
  #header .imgdiv img {
    position: relative;
    left: 100px;
  }
}
@media screen and (max-width: 1070px) {
  .header-img {
    top: 10px;
  }
}
@media screen and (max-width: 840px) {
  #header header {
    padding: 0% 5px;
  }
  #header .text-end .divAnglia .card h1 {
    font-size: 1.3em;
  }
  #header .text-end .divAnglia .card h2 {
    font-size: 1em;
  }
  #header .text-end .divAnglia .card h3 {
    font-size: 1em;
  }
}
@media screen and (max-width: 768px) {
  #header .text-end {
    position: relative;
    left: 0%;
  }
  #header .imgdiv img {
    left: 0px;
  }
  .text-end {
    display: block;
    position: fixed;
    bottom: -0.2%;
    z-index: 999;
    right: 0%;
    opacity: 90%;
    width: 15%;
  }
  .text-end .divAnglia {
    flex-direction: row;
  }
  .text-end .divAnglia .card {
    position: relative;
    text-align: left;
    margin: 0px;
    width: auto;
    justify-content: space-evenly;
  }
  .text-end .divAnglia .card h1 {
    font-size: 1.8em;
    color: #0082C0;
  }
  .text-end .divAnglia .card h2 {
    font-size: 1.4em;
    color: #0082C0;
  }
  .text-end .divAnglia .card h3 {
    font-size: 1.4em;
    color: #DA291C;
  }
}
@media screen and (max-width: 576px) {
  .text-end {
    display: block;
    position: fixed;
    bottom: 0%;
    z-index: 999;
    opacity: 95%;
    width: 20%;
  }
  .text-end .divAnglia .card h1 {
    font-size: 2.5em;
  }
  .text-end .divAnglia .card h2 {
    font-size: 2em;
  }
  .text-end .divAnglia .card h3 {
    font-size: 2em;
  }
}/*# sourceMappingURL=header.css.map */