.header-img {
  position: relative;
  top: 20px;
}

.div-img-anglia {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
}
.div-img-anglia img {
  width: 100%;
}

.div-nav-link {
  background-color: #000289;
  border-radius: 5px;
  box-shadow: 0px 6px 0px #000262;
  transition: all 0.1s;
  text-align: center;
  width: auto;
}
.div-nav-link .nav-link {
  color: white;
  font-size: 1.5em;
}

#dropDownBtn {
  color: white;
  margin: 0px;
  font-size: 1.5em;
  line-height: 162%;
  vertical-align: baseline;
  background-color: #000289;
  border-radius: 5px;
  padding: 0.5rem !important;
  box-shadow: 0px 6px 0px #000262;
  transition: all 0.1s;
}

.div-nav-link:active {
  box-shadow: 0px 0px 0px white;
  position: relative;
  top: 6px;
}

#dropDownBtn:active {
  box-shadow: 0px 0px 0px white;
  position: relative;
  top: 6px;
}

.borderHeader {
  background-color: #000289;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10px;
}
.borderHeader .menuMovileDiv {
  transform: perspective(200px) rotateX(15deg);
  position: relative;
  bottom: 5px;
}
.borderHeader .menuMovileDiv .menuMovile {
  width: 100%;
  border-radius: 5px;
  background-color: #000289;
  font-size: 2.5em;
  z-index: 999;
  box-shadow: none;
  border: none;
  margin: 0;
  cursor: pointer;
  outline: none;
  font-family: "Exo", sans-serif;
  font-weight: 900;
}

.menuMovileDiv:active {
  transform: perspective(170px) rotateX(25deg);
  box-shadow: 0px 0px 0px white;
}

#header {
  font-size: 15px;
  background-size: 200%;
}
@media screen and (max-width: 1650px) {
  #header {
    font-size: 14px;
  }
}
@media screen and (max-width: 1324px) {
  #header {
    font-size: 13px;
  }
}
@media screen and (max-width: 1200px) {
  #header {
    font-size: 12px;
  }
}
@media screen and (max-width: 1070px) {
  #header {
    font-size: 11px;
  }
}
@media screen and (max-width: 767px) {
  #header {
    font-size: 13px;
  }
}
#header .imgdiv img {
  box-shadow: inset 0 -3em 3em #000289, 0 0 0 2px #000289;
  border-radius: 1%;
}
#header .text-end {
  position: relative;
  left: 10%;
}
#header .text-end #divAnglia .card {
  text-align: left;
  margin: 0px;
  width: auto;
  justify-content: space-evenly;
}
#header .text-end #divAnglia .card h1 {
  font-size: 1.4em;
  color: #0082C0;
}
#header .text-end #divAnglia .card h2 {
  font-size: 1em;
  color: #0082C0;
}
#header .text-end #divAnglia .card h3 {
  font-size: 1em;
  color: #DA291C;
}

div .my-popover {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #000289;
  animation: growDown 300ms ease-in-out;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5333333333);
}
div .my-popover #buttonPopover {
  background-color: #000289;
  color: white;
  font-weight: 800;
  border-radius: 10px;
  border: 5px solid rgba(255, 255, 255, 0);
  font-family: "Exo", sans-serif;
  font-size: 3em;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5333333333);
  text-transform: capitalize;
}

#root {
  position: relative;
  overflow-x: hidden;
}

.activeSideBarRoot {
  overflow: hidden !important;
  position: relative !important;
}

#sideBar {
  position: fixed;
  left: 0;
  top: 0;
  width: auto;
  height: 100%;
  z-index: 900;
  overflow: hidden !important;
  transform: translate3d(0, 0, 0);
}
#sideBar #sideBarDiv {
  width: 200px;
  height: 100%;
}
#sideBar #sideBarDiv .exitButton {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  outline: inherit;
  width: 50px;
  height: auto;
}
#sideBar #sideBarDiv .exitButton svg {
  width: 100%;
  height: 100%;
  color: #000289;
}
#sideBar #sideBarDiv .menuSpan {
  font-size: 25px;
  font-weight: 800;
  color: #000289;
}
#sideBar #sideBarDiv .div-nav-link {
  font-size: 15px;
}
#sideBar #sideBarDiv hr {
  color: #000289;
  border-top: 5px #000289 solid;
  width: 100%;
}

.activeSideBar {
  transform: translate3d(200px, 0px, 0px) !important;
  overflow: hidden !important;
}

#index {
  overflow: hidden;
}

@keyframes growDown {
  0% {
    transform: scaleY(0);
  }
  80% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(1);
  }
}
@media screen and (max-width: 1650px) {
  #header .text-end {
    left: 8%;
  }
}
@media screen and (max-width: 1550px) {
  #buttonsHeader {
    flex-direction: column;
    align-items: center;
  }
  #header .text-end {
    left: 3%;
  }
}
@media screen and (max-width: 1266px) {
  #header .text-end {
    left: 0px;
  }
  #header .container {
    max-width: 100%;
    --bs-gutter-x: 0rem;
  }
  #header header {
    padding: 0% 10px;
  }
  #header .imgdiv img {
    position: relative;
    left: 100px;
  }
}
@media screen and (max-width: 1070px) {
  .header-img {
    top: 10px;
  }
}
@media screen and (max-width: 840px) {
  #header header {
    padding: 0% 5px;
  }
  #header .text-end #divAnglia .card h1 {
    font-size: 1em;
  }
  #header .text-end #divAnglia .card h2 {
    font-size: 0.8em;
  }
  #header .text-end #divAnglia .card h3 {
    font-size: 0.8em;
  }
}
@media screen and (max-width: 767px) {
  #header .text-end {
    position: relative;
    left: 0%;
  }
  #header .imgdiv img {
    left: 0px;
  }
  .text-end {
    display: block;
    position: fixed;
    bottom: -0.5%;
    z-index: 999;
    right: 0px;
    opacity: 90%;
  }
  .text-end #divAnglia {
    flex-direction: row;
    right: 0px;
  }
  .text-end #divAnglia .card {
    position: relative;
    text-align: left;
    margin: 0px;
    width: auto;
    justify-content: space-evenly;
  }
  .text-end #divAnglia .card h1 {
    font-size: 1.2em;
    color: #0082C0;
  }
  .text-end #divAnglia .card h2 {
    font-size: 1em;
    color: #0082C0;
  }
  .text-end #divAnglia .card h3 {
    font-size: 1em;
    color: #DA291C;
  }
}
@media screen and (max-width: 330px) {
  .text-end {
    display: block;
    position: fixed;
    bottom: 0%;
    z-index: 999;
    opacity: 95%;
  }
}/*# sourceMappingURL=header.css.map */