.header-img{
    position: relative;
    top: 30px;
}
.div-img-anglia{
    flex: 0 0 auto;
    width: 100%;
    height: auto;
    img{
        width: 100%;
    }
}
.div-nav-link{
    background-color: #000289;
    border-radius: 5px;
    box-shadow: 0px 6px 0px #000262;
    transition: all .1s;
    .nav-link{
        color: white;
        font-size: 1.5em;
    }
}
#dropDownBtn{
    color: white;
    margin: 0px;
    font-size: 1.5em;
    line-height: 162%;
    vertical-align: baseline;
    background-color: #000289;
    border-radius: 5px;
    padding: .5rem!important;
    box-shadow: 0px 6px 0px #000262;
    transition: all .1s;
}
.div-nav-link:active {
    box-shadow: 0px 0px 0px white;
    position: relative;
    top: 6px;
}
#dropDownBtn:active {
    box-shadow: 0px 0px 0px white;
    position: relative;
    top: 6px;
}
.borderHeader{
    background-color: #000289;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10px;
    .menuMovileDiv{
        transform: perspective(200px) rotateX(15deg);
        position: relative;
        bottom: 5px;
        .menuMovile{
            width: 100%;
            border-radius: 5px;
            background-color: #000289;
            font-size: 3em;
            z-index: 999;
            box-shadow: none;
            border: none;
            margin: 0;
            cursor: pointer;
            outline: none;
            font-family: 'Exo', sans-serif;
            font-weight: 900;
        }
    }
}

.menuMovileDiv:active {
    transform: perspective(170px) rotateX(25deg);
    box-shadow: 0px 0px 0px white;
}

#header{
    background-image: url(https://res.cloudinary.com/dsdicaf5h/image/upload/v1679581045/ici/mesh-145_wth0ww.png);
    font-size: 15px;
    background-size: 200%;
    @media screen and (max-width:1324px){
        font-size: 15px;
    }
    @media screen and (max-width:1200px){
        font-size: 13px;
    }
    @media screen and (max-width:1070px){
        font-size: 11px;
    }
    @media screen and (max-width: 420px){
        font-size: 11px;
    }
    .imgdiv{
        img{
            box-shadow:
            inset 0 -3em 3em #000289,
                    0 0  0 2px #000289;
            border-radius: 1%;
        }
    }
    .text-end{
        position: relative;
        left: 90px;
        #divAnglia{
            .card{
                text-align: left;
                margin: 0px;
                width: auto;
                justify-content: space-evenly;
                h1{
                    font-size: 1.4em;
                    color: #0082C0;
                }
                h2{
                    font-size: 1em;
                    color: #0082C0;
                }
                h3{
                    font-size: 1em;
                    color: #DA291C;
                }
            }
        }
    }
}

div{
    .my-popover{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #000289;
        animation: growDown 300ms ease-in-out; 
        box-shadow: inset 0 0 10px #00000088;
        #buttonPopover{
            background-color: #000289;
            color: white;
            font-weight: 800;
            border-radius: 10px;
            border: 5px solid rgba(255, 255, 255, 0);
            font-family: 'Exo', sans-serif;
            font-size: 3em;
            box-shadow: inset 0 0 10px #00000088;
            text-transform: capitalize;
        }
    }
}

// menu movil
.activeSideBarRoot{
    overflow: hidden !important;
    position: relative !important;
}
#sideBar{
    position: fixed;
    left: 0;
    top: 0;
    width: 200px;
    height: 100%;
    z-index: 999;
    overflow: hidden  !important;
    transform: translate3d(0, 0, 0);
    #sideBarDiv{
        width: 200px;
        height: 100%;
    }
}
.content{
    transform: translate3d(0, 0, 0);
    transition: transform 0.3s ease-out;
}
.activeSideBar {
    transform: translate3d(200px, 0px, 0px)!important;
    overflow: hidden  !important; 
}
#index{
    overflow: hidden;
}
@keyframes growDown {
    0% {
        transform: scaleY(0)
    }
    80% {
        transform: scaleY(1.1)
    }
    100% {
        transform: scaleY(1)
    }
}
@media screen and (max-width: 1200px){
    #header{
        width: 100%;
        .text-end{
            left: 60px;
        }
        .container{
            max-width: 100%;
            --bs-gutter-x: 0rem;
        }
        header{
            width: 100%;
        }
    }
}
@media screen and (max-width: 1070px){
    #header{
        width: 100%;
        .text-end{
            left: 50px;
        }
    }
    .header-img {
        top:20px;
    }
}